<style>
</style>
<div id="automation-settings" style="display:flex;flex-direction:column">
  <!-- 
    Import Transformer Templates via JSON
    Build Simple Transformer Templates
    View Transformer Template Library and Delete any
    Clear all Transformers
  -->
  <button id="importAutomationRuleset">{{localize "Automation.Import_Ruleset"}}</button>
  <br>
  <button id="viewRulesets" class="interactive">{{localize "Automation.View_Rulesets"}}</button>
</div>